 body {
    font-family: 'Montserrat', sans-serif;
 }
 header {
    background: #bbbbbb;
    padding: 20px 0;
    
    /* o padding de 20px adicionou um preenchimento interno no header */
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto; 
    
   /* o auto fez com que a margem externa na esquerda e direita fossem calculadas sozinhas*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; 
    text-decoration: none;
    font-size: 22px;
    margin-left: 15px;
}
/* o text transform faz com que o texto fique o tamanho que vc escolher, uppercase é a famosa CAIXA ALTA */
/* font-weight configura o peso da fonte, bold é negrito*/

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

nav a:active {
    color: #088C19;
}

/* o underline no text-decoration dentro da pseudo-classe hover faz com que as opções da lista fiquem sublinhadas ao passar o mouse por cima */


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}


.produtos li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s all;
    /* o box sizing: border-box serve para deixar o width definitivo, ou seja, o margin não vai aumentar o tamanho do width, ele será integrado ao width */

}

.produtos li:hover{
    border-color: #c78c19;
    transform: scale(1.05);
}
.produtos li:active {
    border-color: #088C19;
}
/* a pseudo-classe active permite adicionar interações para quando clicamos em determinado objeto*/

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 18px
}

footer {
    text-align: center;
    background: url("./imagens/bg.jpg");
    padding: 40px 0;
}

footer p {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

/* ao colocar imagem como background no CSS, não usamos o src para chamar a imagem, utilizamos a url */

@media screen and (max-width: 480px) {
    .caixa, .produtos {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static
    }



    .produtos li {
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .produtos h2 {
        font-size: 22px;

    }


}